PM_APP_OFFSET=0x0
PM_APP_ADDRESS=0x0
PM_APP_END_ADDRESS=0xf5000
PM_APP_SIZE=0xf5000
PM_APP_NAME=app
PM_APP_ID=0
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_0_LABEL=APP
PM_ZBOSS_NVRAM_OFFSET=0xf5000
PM_ZBOSS_NVRAM_ADDRESS=0xf5000
PM_ZBOSS_NVRAM_END_ADDRESS=0xfd000
PM_ZBOSS_NVRAM_SIZE=0x8000
PM_ZBOSS_NVRAM_NAME=zboss_nvram
PM_ZBOSS_NVRAM_ID=1
PM_zboss_nvram_ID=PM_ZBOSS_NVRAM_ID
PM_zboss_nvram_IS_ENABLED=1
PM_1_LABEL=ZBOSS_NVRAM
PM_ZBOSS_PRODUCT_CONFIG_OFFSET=0xfd000
PM_ZBOSS_PRODUCT_CONFIG_ADDRESS=0xfd000
PM_ZBOSS_PRODUCT_CONFIG_END_ADDRESS=0xfe000
PM_ZBOSS_PRODUCT_CONFIG_SIZE=0x1000
PM_ZBOSS_PRODUCT_CONFIG_NAME=zboss_product_config
PM_ZBOSS_PRODUCT_CONFIG_ID=2
PM_zboss_product_config_ID=PM_ZBOSS_PRODUCT_CONFIG_ID
PM_zboss_product_config_IS_ENABLED=1
PM_2_LABEL=ZBOSS_PRODUCT_CONFIG
PM_SETTINGS_STORAGE_OFFSET=0xfe000
PM_SETTINGS_STORAGE_ADDRESS=0xfe000
PM_SETTINGS_STORAGE_END_ADDRESS=0x100000
PM_SETTINGS_STORAGE_SIZE=0x2000
PM_SETTINGS_STORAGE_NAME=settings_storage
PM_SETTINGS_STORAGE_ID=3
PM_settings_storage_ID=PM_SETTINGS_STORAGE_ID
PM_settings_storage_IS_ENABLED=1
PM_3_LABEL=SETTINGS_STORAGE
PM_SRAM_PRIMARY_OFFSET=0x0
PM_SRAM_PRIMARY_ADDRESS=0x20000000
PM_SRAM_PRIMARY_END_ADDRESS=0x20040000
PM_SRAM_PRIMARY_SIZE=0x40000
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=4
PM_ALL_BY_SIZE="zboss_product_config settings_storage zboss_nvram sram_primary app"